# Django Settings
DEBUG=True
SECRET_KEY= Our random secret key
ALLOWED_HOSTS=localhost,127.0.0.1,localhost:8000

# Database Configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=riscompass_db
DB_USER=postgres
DB_PASSWORD=our database password
DB_HOST=localhost
DB_PORT=5432

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT Configuration
JWT_SECRET_KEY= Our random jwt secret key
JWT_ALGORITHM=HS256

# External APIs
WORLD_BANK_API_BASE_URL=https://api.worldbank.org/v2
GEMINI_API_KEY=your-gemini-api-key-here

# Environment
ENVIRONMENT=development
